.column1, .column2, .column3, .column0{
	float:left;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

table {
  font-family: arial, sans-serif;
  font-size: small;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #002c6e;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #a1c6ff;
}

.header {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  font-size: 35px;
}

.column0 {
  float: left;
  width: 100px;
  background-color: #ffffff;
  height: 1020px;
}

.column1 {
  float: left;
  width: 200px;
  padding: 10px;
  padding-bottom: 10%;
  background-color: #b3d9ff;
  padding-left: 20px;
  text-align: left;
  height: 1020px;
}

.column2 {
  float: left;
  width: 444px;
  padding: 20px;
  padding-left: 30px;
  text-align: left;
  background-color: #ffffff;
  height: 1020px;
}

.column3 {
  float: left;
  width: 280px;
  padding: 20px;
  padding-bottom: 10%;
  text-align: left;
  background-color: #e6f2ff;
  height: 1020px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}